<!DOCTYPE html>
<html>
<head>
<title>KoreFinz</title>
</head>
<body>
<form method="POST" action="Token">
    <label for="exch_seg">exch_seg = </label>
    <input type="text" name="exch_seg" value="" required><br>
    <label for="instrumenttype">   instrumenttype = </label>
    <input type="text" name="instrumenttype" value="" required><br>
  <label for="symbol"> symbol = </label>
    <input type="text" name="symbol" value="" required><br>
<label for="strike_price"> strike_price = </label>
    <input type="text" name="strike_price" value="" required><br>
  <label for="pe_ce"> pe_ce = </label>
    <input type="text" name="pe_ce" value="" required><br>
  
    <input type="submit" value="Submit">
</form>
</select>
</body>
</html>